<div class="container">
    <h2 class="my-4 text-center">Contáctanos</h2>
  
    <form >
      
      <!-- Nombre -->
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre">

      
      </div>

        <!-- Apellido -->
        <div class="form-group">
            <label for="name">Apellido</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre">
    
          
          </div>
    <!-- Apellido -->
    <div class="form-group">
        <label for="name">Correo</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Correo">

      
      </div>
         <!-- Apellido -->
    <div class="form-group">
        <label for="name">Consulta</label>
        <input type="textarea" class="form-control" id="formGroupExampleInput" placeholder="Consulta">

      
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Enviar</button>
      </div>

    </form>
  </div>
  