<div class="about-us">
    <h2>¿Quiénes Somos?</h2>
    
    <section class="intro">
      <p>Bienvenidos a nuestra librería, el lugar donde puedes encontrar todos los artículos escolares que necesitas para un buen rendimiento académico.</p>
    </section>
    <div class="container d-flex justify-content-center align-items-center" >

    <img src="\assets\images\quienes.jpg" class="img-fluid" width="600" height="500">
    </div>
    <section class="mission">
      <h3>Misión</h3>
      <p>{{ mission }}</p>
    </section>
  
    <section class="vision">
      <h3>Visión</h3>
      <p>{{ vision }}</p>
    </section>
  
    <section class="history">
      <h3>Nuestra Historia</h3>
      <p>{{ history }}</p>
    </section>
  </div>
  